In [2]:
import pandas as pd
import plotly.express as px

In [3]:
# Importando el dataset que se generó el módulo data_clean

df=pd.read_csv('./assets/data/dash_dataset.csv', header=0)

In [4]:
df.groupby('Mes Registro',axis=0).count()['Evento'].reset_index()

   Mes Registro  Evento
0             1    5472
1             2    4656
2             3   11588
3             4    6703
4             5    8243
5             6    8441
6             7    5936

In [43]:
def dataset_plot_by_offer(offer_type: str, area: str=None, business_unity=None):
    """Retorna un dataset específico oara deterninada oferta.

    Args:
        offer_type (str): Tipo de oferta de la cual se retorna el dataset.
        area (str): Área de la cual se retorna el dataset asociado.
        business_unity: Unidad de negocio de la cual se retorna el dataset asociado.
         

    Returns:
        Retorna un dateset de acuerdo al tipo de oferta y de área especificada.
    """
    if area:
        dataset=df.pivot_table(values=['Evento'], columns=['Área', 'Tipo de Oferta'], index='Mes Registro', aggfunc='count').fillna(0)['Evento']
        return dataset[area][offer_type].reset_index('Mes Registro')
    if business_unity:
        dataset=df.pivot_table(values=['Evento'], columns=['UNIDAD DE NEGOCIO', 'Tipo de Oferta'], index='Mes Registro', aggfunc='count').fillna(0)['Evento']
        return dataset[business_unity][offer_type].reset_index('Mes Registro')
    
    dataset = df.pivot_table(values=['UNIDAD DE NEGOCIO'], columns=['Tipo de Oferta'], index='Mes Registro', aggfunc='count').fillna(0)['UNIDAD DE NEGOCIO']
    return dataset[offer_type].reset_index('Mes Registro')

def dataset_plot(area: str=None, business_unity=None):
    """Retorna un dataset específico para unidad de negocio o área.

    Args: 
        area (str): Área de la cual se retorna el dataset asociado.
        business_unity: Unidad de negocio de la cual se retorna el dataset asociado.
         

    Returns:
        Returna un dateset de acuerdo al tipo de oferta y de área especificada.
    """
    if area:
        dataset=df.pivot_table(values=['Evento'], columns=['Área'], index='Mes Registro', aggfunc='count').fillna(0)['Evento']
        return dataset[area].reset_index('Mes Registro')
    if business_unity:
        dataset=df.pivot_table(values=['Evento'], columns=['UNIDAD DE NEGOCIO'], index='Mes Registro', aggfunc='count').fillna(0)['Evento']
        return dataset[business_unity].reset_index('Mes Registro')


def get_areas(business_unity: str, only_fosfec: bool = False) -> list:
    """Returna las áreas (sublíneas) de una unidad de negocio del  portafolio de servicios.

    Args:
        business_unity (str): Unidad de negocio.
        only_fosfec (bool, optional): Indica si returna las áreas de FOSFEC. False por defecto.

    Returns:
        list: Returna un diccario cuya clave es la unidad de negocio y los valores una lista de áreas.
    """
    areas = list(df['Área'][df['UNIDAD DE NEGOCIO'] == business_unity].unique())
    return areas


def get_services(area: str, only_fosfec: bool = False) -> list:
    """Returna los servicios (materales) de una área (sublínea) del  portafolio de servicios.

    Args:
        area (str): Sublínea.
        only_fosfec (bool, optional): Indica si retorna sólo materiales de FOSFEC. False por defecto.

    Returns:
        dict: Returna un diccario cuya clave es la sublínea y los valores una lista de materiales.
    """
    materials = list(df['Nivel'][df['Área'] == area].unique())
    return materials

def get_offer_types(business_unity: str) -> list:
    """Returna los tipos de oferta de una unidad de negocio del  portafolio de servicios.

    Args:
        business_unity (str): Unidad de Negocio.

    Returns:
        list: Returna una lista de tipos de oferta.
    """
    offer_types = list(df['Tipo de Oferta']
                        [df['UNIDAD DE NEGOCIO'] == business_unity].unique())
    return offer_types

In [57]:
# dataset = dataset_plot("Venta Directa", area= 'ESCUELA DE LENGUAS EXTRANJERAS')
# dataset
# figure = px.line(
#     dataset, x=dataset["Mes Registro"], y=dataset["Venta Directa"], title= 'ESCUELA DE BELLEZA')
# figure

dataset=dataset_plot_by_offer(offer_type="FOSFEC", business_unity="EDUCACIÓN")
dataset=dataset_plot(area="ESCUELA DE LENGUAS EXTRANJERAS")
dataset

   Mes Registro  ESCUELA DE LENGUAS EXTRANJERAS
0             1                          1043.0
1             2                           247.0
2             3                           399.0
3             4                           638.0
4             5                           162.0
5             6                          1003.0
6             7                          1199.0

In [63]:
# figure = px.line(df, x=df["Mes Registro"], y=df["CULTURA"]["ARTES DANZARIAS"]["Venta Directa"], title="Oferta")
# figure
dataset=get_offer_types(business_unity=)

'ARTES DANZARIAS'